<!DOCTYPE html>
<html>
<head>
	<title>Sensor values</title>
	<style type="text/css">
		html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        body {
			background-color: #1F222A;
            display: table;
        }

        .data {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-family: sans-serif;
            font-size: 6em;
        }
	</style>
</head>
<body> 
	<div class="data">{{temperature}} {{humidity}}</div>
</body>
</html>
